<div id="button">
	<a id="button-word" href="/water">Plant</a>
</div>

<div id="about">
	
</div>

<style>
body{
	background-color: #F8F8F8;
	background-image: url("./images/test.png");
	background-size: cover;
}

#button{
	border: 2px solid #000000;
	border-radius: 5px;
	width: 80px;
	height: 40px;
	margin: 40% 0 0 20%;
}

#button-word{
	display: block;
	position: relative;
	font-family: HelveticaNeue;
	font-size: 18px;
	color: #000000;
	line-height: 22px;
	margin-left: 16;
	margin-top: 7;
}

</style>
