
<div id="image" width="100%">
	<img src="./images/desert.png" width="100%">
	<div class="button">
		<div id="button-rectangle">
			<a id='sectence' href="/water">Plant</a>
		</div>
	</div>
</div>

<div id="about">
	
</div>

<style>
body{
	background-color: #F8F8F8;
}

#sentence{
	/* Plant: */
	font-family: HelveticaNeue;
	font-size: 18px;
	color: #000000;
	line-height: 22px;
}

#button-rectangle{
	/* Rectangle 28: */
	background: #FFFFFF;
	border: 2px solid #000000;
	border-radius: 5px;
}


</style>
