<form id="form" method='post' action="login">
	<div class="form-group">
		<div class="input-group input-group-lg">
			<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
				  <input type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon1" name="mail">
		</div>
		
		<div class="input-group input-group-lg">
			<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></span>
				  <input type="text" class="form-control" placeholder="Password" aria-describedby="sizing-addon1" name="pass">
		</div>

		<div id="if">
			<p>If you have not register, click <a href="/register">here</a></p>
		</div>

		<div id="button" class="btn-group" role="group" aria-label="...">
			<button id="button-word" type="submit" class="btn btn-default">login</button>
		</div>
	</div>	
</form>

<style>
body{
	background-image: url("./images/water.jpg");
	background-size: cover;
	width: 100%;
}

#form{
	width: 30%;
	height: 30%;
	margin: 35% 5% 0% 60%;
}

.input-group{
	margin: 3% 0 3% 0;
}

#button{
	float: right;
}

#if{
	float: left;
}
</style>
