<div id="screen">
	<img src="/images/ｽ.jpg" width="100%">
</div>

<div id="sidebar">
	<div id="humidity">	
		<span class="glyphicon glyphicon-tint parameter" aria-hidden="true"> Humidity </span>
		<span class="parameter"><%= @data.humidity %></span>
	</div>

	<div id="temperture">
		<span class="glyphicon glyphicon-indent-right" aria-hidden="true" width="5%"> Temperature </span>
		<span><%= @data.temperature %>℃</span>
	</div>

	<div id="weather">
		<span class="glyphicon glyphicon-cloud parameter" aria-hidden="true" width="5%"> Weather </span>
		<span>sunny</span>
	</div>

	<div id="button">
		<button id="button-word" class="water" href="#" data-id="<%= @id %>">Water</button>
	</div>	

</div>



<style>
body{
	background-color: #F8F8F8;
}

#screen{
		width: 60%;
		margin: 3%;
		float: left;
}

#sidebar{
	float: left;
}

#humidity{
	font-size: 200%;
	margin-top: 30; 
	margin-left: 30;
}

#weather{
 font-size: 200%;
	margin-top: 30;
	margin-left: 30;
}

#temperture{
 font-size: 200%;
	margin-top: 30;
	margin-left: 30;
}
.parameter{
}

#button{
	width: 80px;
	height: 40px;
	margin-top: 30;
	margin-left: 95;
}



</style>

<script type='text/javascript'>
$(function(){
	$('.water').click(function(e){
		e.preventDefault();
		var id = $(this).data("id");
		var today = new Date();
		$.ajax({
			type: 'POST',
			url: '/water/' + id,
			data: {
				user_id: id,
				today_time: today
			},
			success: function(json){
			}
		});
	});
});

</script>
