<div id="screen">
	<img src="./images/ｽ.jpg" width="100%">
</div>

<div id="sidebar">
	<div id="humidity">	
		<span class="glyphicon glyphicon-tint parameter" aria-hidden="true"> Humidity </span>
		<span class="parameter">3%</span>
	</div>

	<div id="weather">
		<span class="glyphicon glyphicon-cloud parameter" aria-hidden="true" width="5%"> Weather </span>
		<span>sunny</span>
	</div>

	<div class="btn-group" role="group" aria-label="...">
		<button type="button" class="btn btn-default"> Water </button>
	</div>

</div>



<style>
body{
	background-color: #F8F8F8;
}

#screen{
		width: 60%;
		margin: 3%;
		float: left;
}

#sidebar{
	float: left;
	margin: auto;
}

#humidity{

}

#weather{

}

.parameter{
}

</style>
